.arrow-container{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    justify-content: space-between;
    &:focus { outline-style: none; }
    .arrow{
        display: block;
        height: 50px;
        width: 26px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        &:focus { outline-style: none; }

    }
    .arrow-left{
        left: 0;
        background-image: url('../img/arrow-left.png');
    }
    .arrow-right{
        right: 0;
        background-image: url('../img/arrow-right.png');
    }
}